extends layout

block content
  .container
    .row
      .col-xs-12.col-sm-4.col-sm-offset-4.text-center.pos-absolute-center
        h1= message
        a.btn.btn-primary.btn-sm.mtm(href='/') â† Home
