extends layout

block content
  .container
    .row
      .col-xs-12
        form(name='login', method='POST')
          .form-group
            label.control-label(for='email') Email *
            input#email.form-control(name='email', type='text')

          .form-group
            label.control-label(for='password') Mot de passe *
            input#password.form-control(name='password', type='password')

          .mtl
            button.btn.btn-success(type='submit') Se connecter
